:root {
  --main-color-default: #2060ca;
  --main-color-light: #2c6bec;
  --main-color-dark: #1c1c9f;
  --card-bg-color: #c5e1e5;
  --additional-color-light: #ffffff;
  --additional-color-dark: #000000;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--main-color-default);
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25vw + 30vh);
  height: calc(22vw + 27vh);
  padding: 25px 20px;
  border: none;
  border-radius: 10px;
  background-color: var(--additional-color-light);
}

.form-section > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.form-input {
  padding: 12px;
  font: inherit;
  width: 100%;
  border: 2px solid var(--additional-color-dark);
  border-radius: 5px;
  outline: none;
}

.form-input:focus {
  border-color: var(--main-color-light);
}

.submit-btn {
  padding: 14px 25px;
  font: inherit;
  border: none;
  border-radius: 5px;
  color: var(--additional-color-light);
  background-color: var(--main-color-light);
  cursor: pointer;
}

.list-section {
  overflow: auto;
}
