* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #2060ca;
}

.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(25vw + 30vh);
  height: calc(22vw + 27vh);
  padding: 25px 20px;
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
}

.form-section > form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.form-input {
  padding: 12px;
  font: inherit;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  outline: none;
}

.form-input:focus {
  border-color: #2c6bec;
}

.submit-btn {
  padding: 14px 25px;
  font: inherit;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #2c6bec;
  cursor: pointer;
}

.list-section {
  overflow: auto;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  padding: 10px 15px;
  background-color: #c5e1e5;
  border: 1px solid black;
  border-radius: 5px;
}

.card-text {
}

.delete-btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #1c1c9f;
  cursor: pointer;
}
